[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/whitespace"]
	path = vim/bundle/whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "vim/bundle/jshint"]
	path = vim/bundle/jshint
	url = https://github.com/walm/jshint.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
